<footer>
  <ul>
    <li>
      <a href="mailto:vrsserega@gmail.com">Questions? Email Me</a>
    </li>
    <li>
      <a href="https://seregavrs.github.io">My GitHub Pages site</a>
    </li>
    <li>
      <a href="https://github.com/seregavrs">My GitHub repository</a>
    </li>
    <li>
      <a href="https://bitbucket.org/SeregaRS/">My BitBucket repository</a>
    </li>
    <li>
      <a href="https://stackoverflow.com/users/10220150/serega-vrs">My StackOverflow Profile</a>
    </li>
  </ul>
  <p>Copyright © 2018 SeregaVRS</p>
</footer>
