<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="_assets/css/main.css">
      <link rel="stylesheet" type="text/css" href="/_assets/css/styles.css">
    </head>
    
      {% include header.html %}
    
    <body>

      {% include navigation.html %}
      
      <div class="container">      
      {{ content }}      
      </div><!-- /.container -->

      {% include footer.html %}

    </body>
  </html>
